@charset "UTF-8";

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

header{
	height: 50px;
	background-color: #D3D3D3;
}

input{
	margin-top: 3px;
	margin-bottom: 6px
}

textarea{
	margin-bottom: 6px
}

.wrap{
	position: relative;
	height: 100%;
    width: 100%;
}

.error-messages{
	background-color: #FFEFEF;
	color: #C25338;
	border:1px solid #D4440D;
	margin: 12px auto 20px auto;
	padding: 10px;
	text-align: center;
	display: block;
	width: 70%;
}

.error-messages li{
	list-style-type: none;
}

.header-botton{
	line-height: 50px;
	padding-right: 20px;
	padding-left: 10px;
}

img.logo{
	float: left;
	width: 130px;
	height: 50px;
	padding-left: 10px
}

.logout{
	float: right;
}

.pagetop {
    display: none;
	position: fixed;
    bottom: 30px;
    right: 15px;
}

.pagetop a {
    display: block;
    background-color: #C0C0C0;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.login-contents{
	margin: 0 auto;
	padding-top: 100px;
	width: 20%;
}

.top-contents{
	margin: 0 auto;
	padding-top:10px;
	padding-left: 10%;
	width: 65%;
}

.search{
	height: 80px;
	width: 100%;
	padding: 10px;
}

.search-date{
	float: left;
	padding: 10px;
}

.search-category{
	float: left;
	padding: 10px;
}

.search-submit{
	padding-top: 34px;
}

.message{
	border-bottom: dotted 2px;
	margin-top: 20px
}

.text{
	font-family: 'Times New Roman';
}

.comment{
	border-bottom: dotted 2px;
}

.comment-form-area{
	border-bottom: solid 2px black;
}

.message-contents{
	padding: 20px 15px;
}

.user{
	width: 40%;
	padding-left: 8%;
	margin-top: 5px;
	float: left;
}

.setting-contents , .signup-contents{
	margin: 0 auto;
	padding-top: 150px;
	padding-left: 105px;
	width: 42%;
}

.signup-contents input , .setting-contents input{
	margin: 5px
}
